/* line 4, ../../../sass/basic-pin-scrollmagic.scss */
body {
  overflow-x: hidden;
}

/* line 8, ../../../sass/basic-pin-scrollmagic.scss */
div#scroll-body {
  height: 100%;
  width: 100%;
  top: 0%;
  transition: top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition: top 0.4s ease-in;
  -webkit-transition: top 0.4s ease-in;
  transform: translate3d(0, 0, 0);
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 21, ../../../sass/basic-pin-scrollmagic.scss */
div#scroll-body.page2 {
  height: 100%;
  transition: top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition: top 0.4s ease-in;
  -webkit-transition: top 0.4s ease-in;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 30, ../../../sass/basic-pin-scrollmagic.scss */
div#scroll-body.page2.page3 {
  height: 100%;
  transition: top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition: top 0.4s ease-in;
  -webkit-transition: top 0.4s ease-in;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 39, ../../../sass/basic-pin-scrollmagic.scss */
div#scroll-body.page2.page3.page4 {
  height: 100%;
  transition: top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition: top 0.4s ease-in;
  -webkit-transition: top 0.4s ease-in;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 49, ../../../sass/basic-pin-scrollmagic.scss */
div#scroll-body.page2.page3.page4.page5 {
  height: 100%;
  transition: top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition: top 0.4s ease-in;
  -webkit-transition: top 0.4s ease-in;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 58, ../../../sass/basic-pin-scrollmagic.scss */
div#scroll-body.page2.page3.page4.page5.page6 {
  height: 100%;
  transition: top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition: top 0.4s ease-in;
  -webkit-transition: top 0.4s ease-in;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 67, ../../../sass/basic-pin-scrollmagic.scss */
div#scroll-body.page2.page3.page4.page5.page6.page7 {
  height: 100%;
  transition: top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition: top 0.4s ease-in;
  -webkit-transition: top 0.4s ease-in;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 77, ../../../sass/basic-pin-scrollmagic.scss */
section {
  text-align: center;
  position: absolute;
  width: 100%;
  max-width: 100%;
}

/* line 84, ../../../sass/basic-pin-scrollmagic.scss */
.blue {
  background-color: blue;
  color: white;
}

/* line 89, ../../../sass/basic-pin-scrollmagic.scss */
.magenta {
  background-color: magenta;
  color: white;
}

/* line 94, ../../../sass/basic-pin-scrollmagic.scss */
.red {
  background-color: red;
  color: white;
}

/* line 99, ../../../sass/basic-pin-scrollmagic.scss */
.yellow {
  background-color: yellow;
  color: white;
}

/* line 104, ../../../sass/basic-pin-scrollmagic.scss */
.green {
  background-color: green;
  color: white;
}

/* line 109, ../../../sass/basic-pin-scrollmagic.scss */
.black {
  background-color: black;
  color: white;
}

/* line 114, ../../../sass/basic-pin-scrollmagic.scss */
.aqua {
  background-color: aqua;
}

/* !FOCUSED IMAGES */
/*-----------------------------------------*/
/* line 120, ../../../sass/basic-pin-scrollmagic.scss */
.focuspoint {
  position: relative;
  /*Any position but static should work*/
  overflow: hidden;
  height: 100%;
}

/* line 125, ../../../sass/basic-pin-scrollmagic.scss */
.focuspoint img {
  left: 0;
  top: 0;
  margin: 0;
  display: block;
  /* fill and maintain aspect ratio */
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-height: none;
  max-width: none;
}

/* line 138, ../../../sass/basic-pin-scrollmagic.scss */
.lazy {
  opacity: 0;
  transition: opacity .333s ease-in;
}

/* line 143, ../../../sass/basic-pin-scrollmagic.scss */
.lazy-loaded {
  opacity: 1;
}

/* line 148, ../../../sass/basic-pin-scrollmagic.scss */
.triggerElement {
  position: relative;
  left: 0px;
  width: 100%;
  height: 1%;
  max-width: 100%;
}

/* line 159, ../../../sass/basic-pin-scrollmagic.scss */
.content {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  color: white;
  padding: 20px;
  text-align: left;
  max-width: 100%;
  top: 0%;
}
/* line 172, ../../../sass/basic-pin-scrollmagic.scss */
.content h2:nth-child(1) {
  position: relative;
  left: 4000px;
  -webkit-transition: left 1s ease-out 0.7s;
  -moz-transition: left 1s ease-out 0.7s;
  transition: left 1s ease-out 0.7s;
  transform: translate3d(0, 0, 0);
}
/* line 179, ../../../sass/basic-pin-scrollmagic.scss */
.content p:nth-child(2) {
  position: relative;
  left: 4000px;
  -webkit-transition: left 1s ease-out 1.2s;
  -moz-transition: left 1s ease-out 1.2s;
  transition: left 1s ease-out 1.2s;
  transform: translate3d(0, 0, 0);
}
/* line 185, ../../../sass/basic-pin-scrollmagic.scss */
.content p:nth-child(3) {
  position: relative;
  left: 4000px;
  -webkit-transition: left 1s ease-out 1.7s;
  -moz-transition: left 1s ease-out 1.7s;
  transition: left 1s ease-out 1.7s;
  transform: translate3d(0, 0, 0);
}
/* line 193, ../../../sass/basic-pin-scrollmagic.scss */
.content img:nth-child(4) {
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  position: relative;
  top: 200px;
  left: 200px;
  opacity: 0;
  transform: translate3d(0, 0, 0) scale(1.3);
}

/* line 203, ../../../sass/basic-pin-scrollmagic.scss */
#blue.show h2, #blue.show p, #magenta.show h2, #magenta.show p, #yellow.show h2, #yellow.show p, #aqua.show h2, #aqua.show p, #red.show h2, #red.show p, #black.show h2, #black.show p, #green.show h2, #green.show p {
  left: 0px;
}
/* line 207, ../../../sass/basic-pin-scrollmagic.scss */
#blue.show img, #magenta.show img, #yellow.show img, #aqua.show img, #red.show img, #black.show img, #green.show img {
  top: 0px;
  left: 0px;
  opacity: 1;
  transform: scale(1);
}

/* line 220, ../../../sass/basic-pin-scrollmagic.scss */
.main {
  z-index: 0;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}

/* line 225, ../../../sass/basic-pin-scrollmagic.scss */
.gen-page-content {
  position: relative;
  left: 0px;
  margin: 0px 0px 0px 0px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}

/* line 233, ../../../sass/basic-pin-scrollmagic.scss */
.gen-sidebar {
  position: absolute;
  top: 0px;
  left: -160px;
  background: #333;
  z-index: 0;
  width: 160px;
  height: 100%;
  padding: 30px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}
/* line 242, ../../../sass/basic-pin-scrollmagic.scss */
.gen-sidebar ul {
  padding: 0px 0px 0px 0px;
}
/* line 245, ../../../sass/basic-pin-scrollmagic.scss */
.gen-sidebar ul li a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
/* line 248, ../../../sass/basic-pin-scrollmagic.scss */
.gen-sidebar ul li a:hover {
  color: white;
}

/* line 257, ../../../sass/basic-pin-scrollmagic.scss */
.gen-nav-toggle {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0px;
  font-size: 30px;
  font-weight: bold;
  display: block;
  z-index: 1;
  cursor: pointer;
  height: 38px;
  width: 38px;
  line-height: 30px;
  color: white;
  background-color: transparent;
  padding: 4px 4px 4px 4px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}

/* line 276, ../../../sass/basic-pin-scrollmagic.scss */
#genSidebarToggler {
  display: none;
}
/* line 281, ../../../sass/basic-pin-scrollmagic.scss */
#genSidebarToggler + .gen-page-wrap {
  position: relative;
}
/* line 284, ../../../sass/basic-pin-scrollmagic.scss */
#genSidebarToggler + .gen-page-wrap .gen-sidebar {
  position: absolute;
  top: 0px;
  left: -160px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}
/* line 290, ../../../sass/basic-pin-scrollmagic.scss */
#genSidebarToggler + .gen-page-wrap .gen-nav-toggle {
  left: 0px;
  position: relative;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}
/* line 296, ../../../sass/basic-pin-scrollmagic.scss */
#genSidebarToggler + .gen-page-wrap .gen-page-content {
  left: 0px;
  position: relative;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}
/* line 307, ../../../sass/basic-pin-scrollmagic.scss */
#genSidebarToggler:checked + .gen-page-wrap {
  position: relative;
}
/* line 309, ../../../sass/basic-pin-scrollmagic.scss */
#genSidebarToggler:checked + .gen-page-wrap .gen-sidebar {
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
  left: 0px;
}
/* line 314, ../../../sass/basic-pin-scrollmagic.scss */
#genSidebarToggler:checked + .gen-page-wrap .gen-nav-toggle {
  left: 160px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}
/* line 319, ../../../sass/basic-pin-scrollmagic.scss */
#genSidebarToggler:checked + .gen-page-wrap .gen-page-content {
  left: 160px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}

/* line 335, ../../../sass/basic-pin-scrollmagic.scss */
ul.submenu {
  overflow: hidden;
  height: 0px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}

/* line 342, ../../../sass/basic-pin-scrollmagic.scss */
.nav-button-wrapper-up, .nav-button-wrapper-down {
  position: absolute;
  text-align: center;
  width: 100%;
}

/* line 348, ../../../sass/basic-pin-scrollmagic.scss */
.nav-button-wrapper-down {
  bottom: 80px;
}

/* line 352, ../../../sass/basic-pin-scrollmagic.scss */
.nav-button-wrapper-up {
  top: 80px;
}
