/* Positioning of page navigation buttons */
/* line 4, ../../../sass/pagetransitions-createjs.scss */
html, body {
  height: 100%;
}

/* line 8, ../../../sass/pagetransitions-createjs.scss */
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #555555;
}

/* line 15, ../../../sass/pagetransitions-createjs.scss */
div.overlay {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.5) url("images/712.gif") no-repeat scroll center center;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* This is mainly for the background images of each section ("page"). */
/* !FOCUSED IMAGES */
/*-----------------------------------------*/
/* line 31, ../../../sass/pagetransitions-createjs.scss */
.focuspoint {
  position: relative;
  /*Any position but static should work*/
  overflow: hidden;
  height: 100%;
}

/* line 36, ../../../sass/pagetransitions-createjs.scss */
.focuspoint img {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  display: block;
  /* fill and maintain aspect ratio */
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-height: none;
  max-width: none;
}

/* lazy loading styles */
/* line 53, ../../../sass/pagetransitions-createjs.scss */
.lazy {
  opacity: 0;
  -webkit-transition: opacity 0.333s ease-in;
  -moz-transition: opacity 0.333s ease-in;
  transition: opacity 0.333s ease-in;
}

/* line 58, ../../../sass/pagetransitions-createjs.scss */
.lazy-loaded {
  opacity: 1;
}

/* line 63, ../../../sass/pagetransitions-createjs.scss */
div.main {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}

/* line 70, ../../../sass/pagetransitions-createjs.scss */
section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 81, ../../../sass/pagetransitions-createjs.scss */
section.current {
  visibility: visible;
  z-index: 1;
}

/* line 86, ../../../sass/pagetransitions-createjs.scss */
.ontop {
  z-index: 999;
}

/* line 90, ../../../sass/pagetransitions-createjs.scss */
.blue {
  background-color: #6666ff;
}

/* line 94, ../../../sass/pagetransitions-createjs.scss */
.red {
  background-color: #ff6666;
}

/* line 98, ../../../sass/pagetransitions-createjs.scss */
.yellow {
  background-color: #ffff66;
}

/* line 102, ../../../sass/pagetransitions-createjs.scss */
.green {
  background-color: #66b366;
}

/* line 106, ../../../sass/pagetransitions-createjs.scss */
.magenta {
  background-color: #ff66ff;
}

/* line 110, ../../../sass/pagetransitions-createjs.scss */
.aqua {
  background-color: #66ffff;
}
