/* line 5, ../../../sass/popup-menu.scss */
.gen-page-content {
  position: relative;
  z-index: 0;
  left: 0px;
  margin: 65px 0 0 10px;
  max-width: 100%;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/* line 14, ../../../sass/popup-menu.scss */
.gen-sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  background: #333;
  z-index: 1;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out 0.5s;
  -moz-transition: all 0.5s ease-out 0.5s;
  transition: all 0.5s ease-out 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 28, ../../../sass/popup-menu.scss */
.gen-sidebar ul {
  padding: 0px 0px 0px 10px;
  list-style: none;
}
/* line 32, ../../../sass/popup-menu.scss */
.gen-sidebar ul li a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
/* line 35, ../../../sass/popup-menu.scss */
.gen-sidebar ul li a:hover {
  color: white;
}

/* line 43, ../../../sass/popup-menu.scss */
.gen-sidebar.open {
  width: 160px;
  height: 500px;
  left: 30px;
  top: 30px;
}

/* line 55, ../../../sass/popup-menu.scss */
.gen-nav-toggle {
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0px;
  font-size: 30px;
  font-weight: bold;
  display: block;
  z-index: 1;
  cursor: pointer;
  max-width: 100%;
  height: 65px;
  line-height: 40px;
  padding: 5px;
  color: black;
  background-color: white;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}

/* line 73, ../../../sass/popup-menu.scss */
ul.submenu {
  overflow: hidden;
  height: 0px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
